@charset "utf-8";

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
	background-color: #E8E8E8;
}

#header ,#footer{
	padding: 10px 0px;
	margin-bottom: 0px;
	height: 35px;
	
	background-color: #545454;
	color: #fff;
	
	box-shadow: 0px 2px 2px #ccc;
/* 	border-radius: 20px; */
	text-align: center;
}

.ui-menu {
	margin-top: 5px;
/* 	border-radius: 20px; */
	margin-bottom: 10px;
}

#conteudo {
	height: 100%;
	min-height: 540px;
	margin: 0px;
}

#header {
	padding-top: 15px;
	font-size: 18px;
}

#conteudo {
	margin-bottom: 15px;
}








