.ui-panelgrid td, .ui-panelgrid tr
{
    border-style: none !important;
    background-color: #E8E8E8;
}


#formulario {
	margin: 0 auto;
	margin-top: 1.5%;
	width: 70%;
}

h1 {
	text-align: center !important;
}